/* same font size as for "normal" text */
.md-typeset .admonition, .md-typeset details {
    font-size: .8rem;
}


object.max-width-100 {
  max-width: 100%;
}
   
.md-typeset table:not([class]) {
  line-height: 1;
}

.md-typeset table:not([class]) th {
  background-color: #2196f3ff;
}

.term {
    font-weight: bolder;
}

div.admonition div.admonition {
  border: 0rem !important;
  border-radius: 0rem !important;
  margin-left: -13px !important;
  margin-right: -13px !important;
  box-shadow: none !important;
}

div.admonition.technical > p.admonition-title::before {
      content: "\e869" !important;
}

div.admonition.examples > p.admonition-title::before {
      content: "\e241" !important;
}

div.admonition.proteus > p.admonition-title::before {
      content: "\e86f" !important;
}

div.admonition.csharp > p.admonition-title::before {
      content: "\e86f" !important;
}

div.admonition.python > p.admonition-title::before {
      content: "\e86f" !important;
}

.proteus-header > p::before {
  content: "\e86f";
  color: #00bfa5;
  font-size: 1rem;
  margin-right: 0.5rem;
  font-family:Material Icons;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}

th.empty-header {
  background-color: white !important;
}

th.proteus-header {
  background-color: rgba(0,191,165,.1) !important;
  font-size: 0.78rem;
  line-height: 1.4;
  font-weight: 700;
  color: black !important;
}

div.feature-selection {
  padding: 0.4rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
  padding-top: 0;
}

.feature-selection label {
  display: block;
}

.feature-selection input {
  margin-right: 0.4rem;
}

/* object after p.admonition-title */
p.admonition-title + object {
  margin-top: 1rem; 
}
